<nav nm="header" class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" 
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="/{{{orgName}}}/auth/login" class="navbar-brand" title="Home">
    <img class="main-logo" src="{{{logoStamp}}}/">
    <span class="main-app-name">RV Storage Management</span>
  </a>
</nav>